.button {
  cursor: pointer;
  border-radius: 4px;
  padding: 6px 19px;
  transition: background-color 0.15s ease;
  font-size: 12px;
  line-height: 15px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;

  &--text {
    background-color: transparent;
    border: none;
    color: $secondary-color;
    padding: 7px 12px;

    &:hover {
      background-color: $secondary-color-transparent;
    }

    &:focus:active {
      background-color: $secondary-color-light;
    }
  }

  &--outlined {
    background-color: transparent;
    border: 1px solid $secondary-color;
    color: $secondary-color;

    &:hover {
      background-color: $secondary-color-transparent;
    }

    &:focus:active {
      background-color: $secondary-color-light;
    }
  }

  &--contained {
    background-color: $secondary-color;
    padding: 7px 20px;
    border: none;
    color: white;

    &:hover {
      background-color: lighten($secondary-color, 5%);
    }

    &:focus:active {
      background-color: lighten($secondary-color, 10%);
    }
  }
}
