.input-container {
  position: relative;
  padding: 2px;
  margin: 18px 0 22px;

  &__label {
    pointer-events: none;
    z-index: 1;
    transform: translate3d(0, 28px, 0) scale(1);
    transition: transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    transform-origin: left top;
    width: 100%;
    max-width: 100%;
    position: absolute;
    bottom: 100%;
    left: 0;
    right: auto;
    color: rgba(0, 0, 0, 0.54);
    font-size: 16px;
    padding-left: 4px;
    -webkit-font-smoothing: antialiased;
  }

  &--input-focused {
    .input-container__label {
      transform: translate3d(0, 6px, 0) scale(0.75);
      transition: transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1),
        width 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
      color: $secondary-color;
    }

    .input-text {
      border-color: $secondary-color;
      border-width: 0 0 2px;
      padding-bottom: 0;
    }
  }

  &--input-has-value {
    .input-container__label {
      transform: translate3d(0, 6px, 0) scale(0.75);
      transition: transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1),
        width 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    }
  }
}

.input-text {
  margin: 0;
  padding: 2px 2px 1px;
  width: 100%;
  border-style: solid;
  border-width: 0 0 1px;
  height: 35px;
  border-color: #cfdbe7;
  font-size: 16px;
  line-height: 22px;
  color: $text-color;
}
