// colors
$base-color: #f5f8f9;
$secondary-color: #007ee5;
$secondary-color-light: lighten($secondary-color, 40%);
$secondary-color-dark: darken($secondary-color, 15%);
$secondary-color-transparent: rgba(0, 126, 229, 0.12);
$secondary-blue: #018dfd;
$edit-hover: #007de5;

// Text colors
$text-color: #3f454a;
$grey-color: #a8b8c4;
$dark-grey: #727e88;

// Text size
$font-size: 12px;

// Border radius
$border-radius: 4px;

// Box shadow
$card-shadow: 0px 1px 6px 0px rgba(114, 126, 136, 0.28);
$image-shadow: 0px 1px 24px 0px rgba(189, 196, 201, 0.7);

// Breakpoints
$breakpoint-sm: 768px;
