body {
  background-color: $base-color;
  color: $text-color;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: $font-size;

  @media screen and (min-width: $breakpoint-sm) {
    padding-top: 50px;
  }
}

.header {
  margin-bottom: 15px;

  &__top {
    padding: 20px;

    @media screen and (min-width: $breakpoint-sm) {
      padding-bottom: 5px;
      padding-left: 15px;
    }
  }

  @media screen and (min-width: $breakpoint-sm) {
    background-color: white;
    margin: 0 auto 35px;
    max-width: 1170px;
    padding-left: 200px;
    position: relative;
  }
}

.link {
  color: inherit;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.icon {
  font-size: 18px;
  margin-right: 8px;
  color: $grey-color;
  margin-bottom: 2px;

  &--star {
    color: $secondary-color;
    margin-right: 4px;

    @media screen and (min-width: $breakpoint-sm) {
      color: $dark-grey;
    }
  }

  &--plus {
    font-size: 28px;
    line-height: 24px;
    color: #a6b0b7;
    margin-right: 5px;
  }

  &--pencil {
    font-size: 16px;
    line-height: 22px;
    color: $dark-grey;
    transition: color 0.15s ease;
    margin: 0;

    @media screen and (min-width: $breakpoint-sm) {
      font-size: 20px;
    }
  }
}

.auth {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 25px;
  position: relative;

  @media screen and (min-width: $breakpoint-sm) {
    margin-bottom: 95px;
  }

  &__button {
    background-color: transparent;
    border: none;
    border-radius: $border-radius;
    padding: 10px 8px;
    transition: background-color 0.15s ease;
    position: relative;

    @media screen and (min-width: $breakpoint-sm) {
      border: 1px solid $secondary-color;
      padding: 6px 19px;
    }

    &:hover {
      background-color: $secondary-color-transparent;
    }

    &:focus:active {
      background-color: $secondary-color-light;
    }
  }

  &__text {
    font-size: $font-size;
    line-height: 15px;
    color: $secondary-color;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
  }
}

.profile-info {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;

  @media screen and (min-width: $breakpoint-sm) {
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
  }

  &__identity {
    display: flex;
    flex-direction: column;
  }

  &__image-container {
    align-self: center;
    background-position: 65% 0;
    box-shadow: $image-shadow;
    width: 127px;
    height: 127px;

    @media screen and (min-width: $breakpoint-sm) {
      position: absolute;
      left: 22px;
      bottom: 22px;
      width: 171px;
      height: 171px;
    }
  }
  &__image {
    position: absolute;
    top: 0;
    left: 0;
  }

  &__name {
    align-self: center;
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
    margin: 18px 0;
    text-transform: capitalize;

    @media screen and (min-width: $breakpoint-sm) {
      align-self: start;
      margin: 0 0 12px;
    }
  }

  &__list {
    line-height: 22px;

    @media screen and (min-width: $breakpoint-sm) {
      align-self: flex-start;
      display: flex;
      flex-direction: column-reverse;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    margin-bottom: 7px;

    @media screen and (min-width: $breakpoint-sm) {
      font-size: 14px;
    }
  }
}

.feedback {
  @media screen and (min-width: $breakpoint-sm) {
    display: flex;
  }

  &__rating {
    display: flex;
    margin-bottom: 2px;

    @media screen and (min-width: $breakpoint-sm) {
      margin: 0;
    }
  }

  &__star {
  }

  &__reviews {
    font-size: 13px;
    line-height: 24px;
    margin-left: 4px;

    @media screen and (min-width: $breakpoint-sm) {
      margin-left: 22px;
      color: $dark-grey;
    }
  }
  &__number {
    font-size: 14px;
    font-weight: 600;
  }
}

.followers {
  display: flex;
  align-items: center;
  position: relative;

  @media screen and (min-width: $breakpoint-sm) {
    position: absolute;
    right: 21px;
    bottom: 11px;
    color: $dark-grey;
  }

  &__text {
    font-size: 13px;
    line-height: 24px;
  }

  &__number {
    font-size: 14px;
    font-weight: 600;
  }
}

.menu {
  background-color: white;
  box-shadow: $card-shadow;
  padding: 0 15px;

  @media screen and (min-width: $breakpoint-sm) {
    margin-left: -200px;
    padding-left: 218px;
  }

  &__list {
    display: flex;
    overflow-x: scroll;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__item {
    font-size: 13px;
    line-height: 1.5;
    text-transform: uppercase;
    padding: 15px 0;
    margin-right: 22px;

    @media screen and (min-width: $breakpoint-sm) {
      font-size: 15px;
    }

    &--active {
      border-bottom: 2px solid $secondary-blue;
    }

    &:hover {
      cursor: pointer;
      border-bottom: 2px solid $secondary-blue;
    }
  }

  &__link {
    &:hover {
      text-decoration: none;
    }
  }
}

.main {
  background-color: white;
  box-shadow: $card-shadow;
  margin-bottom: 35px;
  padding: 20px;

  @media screen and (min-width: $breakpoint-sm) {
    max-width: 1170px;
    margin: 0 auto 35px;
    padding: 35px;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    margin: 5px 0 15px;

    @media screen and (min-width: $breakpoint-sm) {
      padding: 0 5px;
      margin-bottom: 28px;
    }
  }
}

.heading {
  margin: 0;
  line-height: 22px;

  &--alpha {
    font-size: 20px;
    color: $dark-grey;
    font-weight: 400;
  }

  &--beta {
    font-size: 16px;
    font-weight: 600;

    @media screen and (min-width: $breakpoint-sm) {
      margin-bottom: 1px;
      padding: 8px 18px 8px 6px;
      background-color: #f5f7f7;
      align-self: self-start;
    }
  }
}

.edit-profile {
  width: 30px;
  height: 25px;
  background-color: #ebf1f5;
  border: none;
  margin-right: 10px;

  &:hover {
    background-color: darken(#ebf1f5, 5%);
    transition: background-color 0.15s ease;

    @media screen and (min-width: $breakpoint-sm) {
      background-color: $edit-hover;
    }

    .icon {
      color: darken($dark-grey, 5%);

      @media screen and (min-width: $breakpoint-sm) {
        color: white;
      }
    }
  }

  &:focus:active {
    background-color: darken(#ebf1f5, 10%);

    @media screen and (min-width: $breakpoint-sm) {
      background-color: darken($edit-hover, 5%);
    }

    .icon {
      color: darken($dark-grey, 10%);

      @media screen and (min-width: $breakpoint-sm) {
        color: white;
      }
    }
  }

  &--sm {
    @media screen and (min-width: $breakpoint-sm) {
      display: none;
    }
  }

  &--md {
    display: none;

    @media screen and (min-width: $breakpoint-sm) {
      align-self: stretch;
      height: auto;
      margin-bottom: 1px;
      width: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.about-page {
  @media screen and (min-width: $breakpoint-sm) {
    display: flex;
    flex-direction: column;
  }

  &__name {
    @media screen and (min-width: $breakpoint-sm) {
      display: flex;
      position: relative;
      align-self: self-start;
    }
  }

  &__user-info {
    padding-left: 5px;
    margin-top: 23px;

    @media screen and (min-width: $breakpoint-sm) {
      margin: 0;
      display: flex;
      flex-direction: column;
      padding: 0;
    }
  }

  &__info-block {
    display: flex;
    align-items: center;

    @media screen and (min-width: $breakpoint-sm) {
      background-color: #f5f7f7;
      align-self: self-start;
      padding: 8px 18px 8px 6px;
    }
  }

  &__item {
    position: relative;
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 16px;

    @media screen and (min-width: $breakpoint-sm) {
      margin-bottom: 1px;
      align-self: self-start;
    }
  }

  &__icon {
    line-height: 22px;
  }
}

.upload-cover {
  display: none;
  position: absolute;
  top: 75px;
  left: 50%;
  transform: translateX(-50%);

  @media screen and (min-width: $breakpoint-sm) {
    display: block;
  }

  &__label {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: #858f98;
    border: 1px solid #d0dce7;
    border-radius: 4px;
    text-transform: capitalize;
    padding: 10px 17px;
    font-size: 14px;

    &:hover {
      background-color: lighten(#d0dce7, 12%);
    }
  }

  &__icon {
    color: #d0dce7;
    margin-right: 16px;
    font-size: 20px;
  }

  &__input {
    height: 0;
    opacity: 0;
    width: 0;
    display: none;
  }
}

.edit-profile__buttons {
  display: flex;
}

.popup-block {
  background: rgb(255, 255, 255);
  position: absolute;
  width: 298px;
  min-height: 142px;
  border-radius: 3px;
  top: -3px;
  left: calc(100% - 47px);
  padding: 20px;
  box-shadow: 0px 0px 25px 0px rgb(166, 166, 166);
  z-index: 1;

  .button {
    margin-right: 20px;
    width: 95px;
  }

  .input-container {
    margin: 18px 0 18px;
  }

  &:before {
    content: '';
    width: 15px;
    height: 15px;
    position: absolute;
    left: -8px;
    top: 15px;
    background: white;
    transform: rotate(45deg);
  }
}

.login-popup {
  position: absolute;
  background-color: white;
  width: 240px;
  height: 240px;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 0;
  bottom: -242px;
  z-index: 1;
  border: 1px solid grey;
  border-radius: 4px;
}

.tooltip-container {
  position: absolute;
  left: 0;
  bottom: -110px;
  background: rgba(0, 0, 0, 0.493);
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
